<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.gotinfo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchNameActivity"
            android:label="ABOUT THE CHARACTER" />

        <provider
            android:name=".DataPackage.DataProvider"
            android:authorities="com.example.android.gotinfo"
            android:exported="false" />

        <activity
            android:name=".LocationActivity"
            android:label="LOCATIONS"></activity>
    </application>

</manifest>